body {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
td {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
table {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
tr {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
br {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
p {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
form {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF}
input {font-size: 12px}
select {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF}

a:link { color:#FFFF00; }
a:visited { color:#FFFF00; }
a:active { color:#FF0000; }

.standard {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF;  text-decoration : none;}
.standardschwarz {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000;  text-decoration : none;}
.standardbold {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; font-weight: bold}
.headline {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #FFFFFF; font-weight: bold}
.headlinebig {  font-family: Arial, Helvetica, sans-serif; font-size: 25px; color: #FFFFFF; font-weight: bold}
.bu {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; color: #FFFFFF}
#linkohne {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #FFFF00;  text-decoration : none;}
#abc {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF;  text-decoration : none; }

.open-frame-btn {
    border: 1px solid #706961;
    padding: 15px 25px;
    cursor: pointer;
    font-family: "Gothic_alpha_font";
    font-size: 18px;
    color: #ccb9a5;
    background: transparent;
    transition: color 0.3s ease-out;
}

.open-frame-btn:hover {
    color: #9c5a4b;
}

.info {
    max-width: 500px;
    font-size: 12px;
    color: #706961;
    text-align: start;
}