/*
  GOTHIC ARCHIVE design by flosha 
  css by flosha, avallach & delvin
*/

/* Base */

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #706961;
  font-size: 12px; 
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  line-height: 1.4;
}

body {
  --logo-height: 332px;
  --header-padding-top: 28px;
  --header-padding-bottom: 16px;

  -webkit-tap-highlight-color: transparent; /* Disable blue highlight on chrome (mobile) */
	
  margin: 0;
  min-height: 100dvh;
  display: flex;
}

::selection {
  background: #3c1e26;
}

ul {
  list-style: none;
  padding-left: 1em;
}

img {
  max-width: 100%;
  display: block;
}

/* Base Links */

a:link { color: #ac876d; }
a:visited { color: #ac876d; }
a:active { color: #505a53; }
a:hover { color: #e4d7cc; }

a, a:link, a:active, a:visited {
  text-decoration: none;
  transition: all 0.3s ease-out;
}

/* Base Image Hover */

a img {
  opacity: 1;
	transition: opacity .4s ease-in-out;
}
  a:hover img { opacity: 0.6; }

/* UTILITY */

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.todo { color: #a9655c; }

/* Nav */

nav {
  position: sticky;
  top: 0;
  overflow: auto;
  height: 100dvh;
  min-width: 360px;
  padding-bottom: 25px;
}
  nav img {
    height: auto;
    margin-left: -10px;
  }
  .actualversion {
    color: #c1784a;
  }

header {
  padding: var(--header-padding-top) 0 var(--header-padding-bottom);
  display: flex;
  justify-content: center;
}

header a:hover .logo {
  background-position-x: 326px;
}

.logo {
  height: var(--logo-height);
  width: 300px;
  margin: 0;
}

.menu-wrapper, #menu-toggle  {
  display: none;
}

.anniversary {
  padding-left: 1em;
}

.anniversary a:link { color:#c1784a; }
.anniversary a:visited { color: #ac876d; }
.anniversary a:active { color: #505a53; }
.anniversary a:hover { color: #e4d7cc; }

/* Nav Tree View */

.tree {
  margin-left: 1em;
}

.tree,
.tree ul {
  padding: 0;
}

.tree ul {
  margin-left: 0.1em
}

.tree li:before {
  content: "";
  width: 0;
  position: absolute;
  top: 0px;
  height: 100%;
  left: 0;
  border-left: 1px solid;
}

.tree li:first-child:before {
  top: 8px;
  height: calc(100% - 8px);
}

.tree li:last-child:before {
  height: 8px
}

.tree li:only-child:before {
  display: none;
}

.tree li {
  margin: 0;
  padding: 0 1.5em;
  position: relative;
}

.tree li::after {
  content: "";
  width: 7px;
  height: 0;
  border-top: 1px solid;
  margin-top: -4px;
  position: absolute;
  top: 1em;
  left: 0;
}

.tree li:only-child::after {
  display: none;
}

.notree {
  margin-top: 1.5em;
}


/* Footer */

footer {
  margin-top: 5em;
  margin-bottom: 2.5em;
  text-align: center;
  
  /* Centers such elements as images */
  display: flex;
  flex-direction: column;
  align-items: center;
}

  /* Download Archive */

  .download {
    margin: 4em 3em;
  }
    .download h3 {
      letter-spacing: 0.2em;
      font-size: 11px;
      color: #baa898;
      /* ToDo: Give it a background like the menu, set it over the upper border */
      /* margin-bottom: -20px; -> this will set it directly in the middle of the border */
    }
      .bang { color: #a9655c; }

  .zip {
    margin: 1em;
    padding: 1em 1.5em;
    border: 1px solid #554b43;
  }
    .zip:hover {
      /* border: 1px solid #9d5d47; */
      /* background-color: #9d5d47; */
      color: #9c5a4b;
      transition: all 0.3s ease-out;
    }

  .cr { font-size: 10px; }
  .donate { margin-bottom: 3em; }
  .libera {
    aspect-ratio: 11/5;
    width: 66px;
  }
  .phoenix-tales-logo {
    aspect-ratio: 12/17;
    width: 200px;
  }


/* Page content */

article {
  max-width: 650px;
  padding: clamp(10px, -20.3704px + 3.7037vw, 30px);  /* Calculated by utopia - https://utopia.fyi/clamp/calculator?a=820,1360,10—30 */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6; 
  color: #ccb9a5;
}    

article h1, article h2, article h3, article h4 {
  font-family: "Gothic_alpha_font"; 
  font-weight: normal;
  letter-spacing: normal;
  color: rgb(186, 168, 152);	
}

article h2, article h3, article h4 {
  font-size: 16px;
}

article h3, article h4 {
  padding-top: 1.5em;
}
	
/*
article h1::before {
  content: "# ";
}

article h2::before {
  content: "## ";
}

article h3::before {
  content: "### ";
}
*/

article img {
  height: 100%;
}

article img:not(:last-child) {
  margin-bottom: 10px;;
}

article ul {
  padding-left: 0;
}

article video {
  max-width: 100%;
  height: auto;
}

article .edgar {
  max-width: 92px;
}

audio {
  margin: 1em auto 1em;
}


/* Scrollbar */

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: #424242 rgba(0 0 0 / 70%);
  }

  nav {
    scrollbar-width: thin;
  }
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background: #101010;
}

*::-webkit-scrollbar-track-piece {
  background-color: rgba(0 0 0 / 70%);
}

*::-webkit-scrollbar-track {
  background: #101010;
}

*::-webkit-scrollbar-thumb {
  background-color: #424242;
  border: 2px solid black;
}

/*****************/
/* Mobile Layout */
/*****************/

@media only screen
and (max-width : 820px) {
  body {
    --header-padding-top: 96px;
    --header-padding-bottom: 28px;
    flex-direction: column;
  }

  body:has(#menu-toggle:checked) {
    overflow: hidden;
    /* Give an offset to the top to preserve the size of the page, for the scroll position to be correct once the menu is closed and the header is hidden. */
    padding-top: calc(var(--logo-height) + var(--header-padding-top) + var(--header-padding-bottom));
  }

  body:has(#menu-toggle:checked) nav {
    top: 0;
    left: 0;
    height: 100dvh;
    overflow: auto;
    position: fixed;
    padding-bottom: 35px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.9);
  }

  body:has(#menu-toggle:checked) .menu-wrapper {
    position: sticky;
    background: rgba(0, 0, 0, 0.9);
  }

  body:has(#menu-toggle:checked) label[for="menu-toggle"] {
    /* background-color: #14263e; */
    color: #9c5a4b;
  }
  
  @media (hover: hover) {
    label[for="menu-toggle"]:hover {
      /* background-color: #14263e; */
      color: #9c5a4b;
    }
    
    body:has(#menu-toggle:checked) label[for="menu-toggle"]:hover {
      /* background-color: #14263ee1; */
      color: #9c5a4b;
    }
  }

  body:has(#menu-toggle:checked) header {
    display: none;
  }

  body:has(#menu-toggle:checked) .menu-index {
    display: block;
  }

  nav {
    position: initial;
    min-width: initial;
    height: initial;
    overflow: initial; /* Having this set to "initial", makes it so the scroll position will be restored when the mobile navigation is opened again, otherwise it is reset each time the .main-nav is closed. (For some reason) */
    width: 100%;
    z-index: 10;
    padding: 0;
  }

  .menu-wrapper {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 10px;

    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
  }

  
  label[for="menu-toggle"] {
    display: flex;
    align-items: baseline;
    gap: 0.6em;
    padding: 0.3em 1.5em 0.5em 1.2em;
    line-height: 1;
    border: 1px solid #706961;
    width: fit-content;
    user-select: none;
    cursor: pointer;  
    color: #ccb9a5; /* #c1784a; // old orange */
    background: #000000e0;
    font-family: "Gothic_alpha_font";
    font-size: 18px;
    transition: background-color 0.3s ease-out;
  }

  label[for="menu-toggle"]::selection {
    background-color: transparent;
    color: inherit;
    font-weight: 700;  
  }

  label[for="menu-toggle"] .menu-icon {
    font-size: 150%;
    position: relative;
    top: 3px;
  }

  .menu-index {
    display: none;
  }

  article {
    padding: 0 10px 10px;
    /* Center content, otherwise it will be aligned to left. */
    margin-right: auto;
    margin-left: auto;
  }
}
