{% include path-variables.liquid %}
{% include processed-content.liquid %}
{% include content-without-style-tag.liquid pageContent=processedContent %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="{{ wwwRoot }}/style.css" rel="stylesheet" />
    <link href="{{ binRoot }}/fonts/fonts.css" rel="stylesheet" />
    <title>{{page.title}} | {{site.title}}</title>
    <link rel="icon" type="image/x-icon" href="{{ wwwRoot }}/favicon.ico" />
    <style>
      .logo {
        background-image: url('{{ imagesRoot }}/img/header.png');
      }
    </style>

    {% include page-style-tag.liquid pageContent=processedContent %}
  </head>

  <body>
    <nav>
      <div class="menu-bar">
        <div>
          <input type="checkbox" id="menu-toggle" />
          <label for="menu-toggle">
            <span class="menu-icon">&#8801;</span>
            Index
          </label>
        </div>

        <div class="menu-bar-links">
          <a href="https://phoenixtales.de/">
            <img src="{{ imagesRoot }}/img/icons/phnx_white.ico" alt="PhoenixTales">
          </a>
          <a href="https://github.com/PhoenixTales">
            <img src="{{ imagesRoot }}/img/icons/GitHub-Mark-Light-32px.png" alt="Github">
          </a>
          <a href="https://discord.gg/5uHcsEJ44h">
            <img src="{{ imagesRoot }}/img/icons/discord.png" alt="Discord">
          </a>
          <a href="https://ko-fi.com/flosha">
            <img src="{{ imagesRoot }}/img/icons/ko-fi-white-sm.png" alt="ko-fi">
          </a>
        </div>
      </div>
      
      <header>
        <a href="{{ wwwRoot }}/">
          <h1 class="logo hide-text">Gothic Archive</h1>
        </a>
      </header>

      <div class="menu-index">{% include menu.html %}</div>
    </nav>

    <main> {{ contentWithoutStyleTag }}</main>
  </body>
</html>
